name: CI

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
    workflow_dispatch:

jobs:
    coverage:
        name: "Code coverage"
        runs-on: ubuntu-latest

        defaults:
            run:
                # See https://github.com/mamba-org/setup-micromamba?tab=readme-ov-file#about-login-shells
                shell: bash -leo pipefail {0}

        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: "Install Conda environment with Micromamba"
              uses: mamba-org/setup-micromamba@v1
              with:
                  micromamba-version: '1.5.8-0'
                  environment-name: coverage
                  create-args: >-
                      python=3.10
                      coverage
                      numpy
                      pinocchio>=2.6.4
                      qpsolvers>=2.7.2
                      robot_descriptions>=1.9.0
                  cache-environment: true
                  post-cleanup: 'all'

            - name: "Install PyPI dependencies"
              run: |
                  python -m pip install coveralls

            - name: "Run coverage tests"
              run: |
                  coverage erase
                  coverage run -m unittest discover --failfast
                  coverage report --include="pink/*"

            - name: "Coveralls"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  coveralls --service=github

    lint:
        name: "Code style"
        runs-on: ubuntu-latest

        defaults:
            run:
                # See https://github.com/mamba-org/setup-micromamba?tab=readme-ov-file#about-login-shells
                shell: bash -leo pipefail {0}

        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v4

            - name: "Install Conda environment with Micromamba"
              uses: mamba-org/setup-micromamba@v1
              with:
                  micromamba-version: '1.5.8-0'
                  environment-name: coverage
                  create-args: >-
                      python=3.10
                      black>=22.10.0
                      mypy>=0.812
                      pinocchio>=2.6.4
                      pylint>=2.8.2
                      qpsolvers>=2.7.2
                      robot_descriptions>=1.9.0
                      ruff>=0.4.3
                  cache-environment: true
                  post-cleanup: 'all'

            - name: "Check code format"
              run: |
                  black --check --diff pink
                  mypy pink --ignore-missing-imports
                  pylint pink --exit-zero --rcfile=pyproject.toml
                  ruff check pink
                  ruff format --check pink

    test:
        name: "Test ${{ matrix.os }} with Python ${{ matrix.python-version }}"
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest]
                # Blocker: https://github.com/stack-of-tasks/pinocchio/issues/2231
                # os: [ubuntu-latest, macos-latest]
                python-version: ["3.9", "3.10", "3.11", "3.12"]

        defaults:
            run:
                # See https://github.com/mamba-org/setup-micromamba?tab=readme-ov-file#about-login-shells
                shell: bash -leo pipefail {0}

        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v4

            - name: "Install Conda environment with Micromamba"
              uses: mamba-org/setup-micromamba@v1
              with:
                  micromamba-version: '1.5.8-0'
                  environment-name: coverage
                  create-args: >-
                      python=${{ matrix.python-version }}
                      pinocchio>=2.6.4
                      qpsolvers>=2.7.2
                      robot_descriptions>=1.9.0
                  cache-environment: true
                  post-cleanup: 'all'

            - name: "Run unit tests with Python {{ matrix.python-version }} on ${{ matrix.os }}"
              run: |
                  python -m unittest discover --failfast

    ci_success:
        name: "CI success"
        runs-on: ubuntu-latest
        needs: [coverage, lint, test]
        steps:
            - run: echo "CI workflow completed successfully"
